<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jziot" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>jziotPrinter</name>

  <js-module name="jziotPrinter" src="www/jziotPrinter.js">
    <clobbers target="cordova.plugins.jziotPrinter" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="jziotPrinter">
        <param name="android-package" value="cordova.plugin.jziot.jziotPrinter" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
    <source-file src="src/android/jziotPrinter.java" target-dir="src/cordova-plugin-jziot/jziotPrinter" />
    <source-file src="src/android/util/BitmapTools.java" target-dir="src/cordova-plugin-jziot/jziotPrinter/util" />
    <source-file src="src/android/util/BarcodeCreater.java" target-dir="src/cordova-plugin-jziot/jziotPrinter/util" />
    <source-file src="src/android/util/ByteTools.java" target-dir="src/cordova-plugin-jziot/jziotPrinter/util" />
    <source-file src="src/android/zyapi/CommonApi.java" target-dir="src/android/zyapi/" />
    <source-file src="src/android/zyapi/IcEx.java" target-dir="src/android/zyapi/" />
    <source-file src="src/android/zyapi/PrintQueue.java" target-dir="src/android/zyapi/" />
    <source-file src="src/android/libs/core.jar" target-dir="libs/" />
    <source-file src="src/android/libs/zypos1.5.jar" target-dir="libs/" />
    <!--<source-file src="src/android/jniLibs/armeabi/libPosApi.so" target-dir="jniLibs/arm64-v8a/" />
    <source-file src="src/android/jniLibs/armeabi/libzyapi_common.so" target-dir="jniLibs/arm64-v8a/" />-->
    <source-file src="src/android/jniLibs/armeabi/libPosApi.so" target-dir="jniLibs/armeabi/" />
    <source-file src="src/android/jniLibs/armeabi/libzyapi_common.so" target-dir="jniLibs/armeabi/" />
    <source-file src="src/android/jniLibs/armeabi/libPosApi.so" target-dir="jniLibs/armeabi-v7a/" />
    <source-file src="src/android/jniLibs/armeabi/libzyapi_common.so" target-dir="jniLibs/armeabi-v7a/" />
    <!-- Only for Cordova android 7, not correctly loading jniLibs -->
    <!--<source-file src="src/android/jniLibs/armeabi/libPosApi.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/jniLibs/armeabi/libzyapi_common.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />-->
  </platform>
</plugin>
